.row.content {
  height: 1000px;
}

.sidenav {
  background-color: black;
  height: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
}

.row.header {
  text-align: center;
  background-color:black;
  color: bisque;
  height: 120px;
}

.row.header img,
h1 {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    max-width: 500px;
  }
  .row.content {
      height: auto;
    }
  }
